<!doctype html>

<html ng-app="angParcelsApp">
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="/ngAddParcel.js"></script>
		<meta charset="UTF-8">
      </head>
      <body>
        <h1>Add Parcel</h1>
        <div ng-controller="UserandFLocListController">
			
            Select User : <select ng-model="angParcelsApp"  ng-options="customer.custName for customer in customers">
				 </select>
        
			Select Final Location : <select ng-model="angParcelsApp"  ng-options="loc.city for loc in FLoc">
				</select>
		   

			<!-- <tr ng-repeat="customer in customers">
				<td>{{ customer.custName }}</td>
				
			</tr> -->
		
		
		
		<!-- <h2>Add</h2>
          <form ng-submit="newLocation()">
		  <label>Address <input type="text" size="30" ng-model="newAddress"/> </label>
		  <label>City <input type="text" size="15" ng-model="newCity"/> </label>
		  
		  <input type="submit"  value="Add" />
		  </form> -->
		  
		<h2>Raw model</h2>  
		{{ customers }}
        </div>
      </body>
    </html>

