<!doctype html>

<html ng-app="angLocApp">
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="/ngLocationsCRUD.js"></script>
		<meta charset="UTF-8">
      </head>
      <body>
        <h1>Track Parcel</h1>
			          
			<h5>
				Parcel details
				x
				x
				x

				<br>
				<br>
				<br>
				<a href = ""> Transfer Parcel (only if it is not delivered) </a>
			</h5>
      </body>
    </html>

