<!doctype html>

<html ng-app="angLocApp">
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="/ngLocationsCRUD.js"></script>
		<meta charset="UTF-8">
      </head>
      <body>
        <h1>Parcels</h1>
			
		
		
		<h2>Exercise 1:</h2>
          
			<h5>
				<a href = "components/views/"> New Parcel </a>
				<br>
				<br>
				<br>
				<a href = ""> Parcel list </a>
			</h5>
      </body>
    </html>

