<!doctype html>

<html ng-app="angLocApp">
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="/ngLocationsCRUD.js"></script>
		<meta charset="UTF-8">
      </head>
      <body>
        <h1>Locations</h1>
        <div ng-controller="LocationsListController">
			
		<table border="1">
			<thead>
			<tr>
				<th>Id</th>
				<th>Address</th>
				<th>City</th>
				<th>Change</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="location in locations">
				<td>{{ location.locId }}</td>
				<td>{{ location.locAddress }}</td>
				<td>{{ location.locCity }}</td>
				<td><input type="button" ng-click="showUpdateFormLocation(location)" value="Update">
				    <input type="button" ng-click="showConfirmDeleteLocation(location)" value="Delete"> 
				</td>
			</tr>
		</tbody>
		</table>
		
		
		<h2>Add</h2>
          <form ng-submit="newLocation()">
		  <label>Address <input type="text" size="30" ng-model="newAddress"/> </label>
		  <label>City <input type="text" size="15" ng-model="newCity"/> </label>
		  
		  <input type="submit"  value="Add" />
		  </form>
		
		<div ng-if="viewFormUpdate">
		<h2>Update</h2>
          <form ng-submit="updateLocation()">
		  <label>Address <input type="text" size="30" ng-model="updLocation.locAddress"/> </label>
		  <label>City <input type="text" size="15" ng-model="updLocation.locCity"/> </label>
		  
		  <input type="submit"  value="Update" />
		  <input type="reset" value="Cancel" ng-click="cancelUpdate()"/>
		  </form>		
		</div> 
		
		<h2>Raw model</h2>  
		{{ locations }}
        </div>
      </body>
    </html>

